/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #10181f;
}

.content {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #1d2b36;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding-left: 6px;
  padding-right: 6px;
  word-wrap: break-word !important;
}

header {
  border-bottom: 2px solid #0a0e11;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header > .heading {
  color: #fff;
}

.header > a {
  margin-right: 16px;
}

footer {
  border-top: 2px solid #0a0e11;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 300;
}

.footer > a {
  margin-right: 16px;
}

a.link-button {
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  background-color: #161f27;
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  line-height: 2;
}

a.link-button:hover {
  background:#324759
}