/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

palette {
  color: #232931;
  color: #393e46;
  color: #4ecca3;
  color: #eeeeee;
}

body {
  background-color: #232931;
  color: #eeeeee;
}

.content {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #393e46;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 6px;
  padding-right: 6px;
  word-wrap: break-word !important;
}

header {
  color: #eeeeee;
  font-size: 18px;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header > .heading {
  color: #eeeeee;
  text-transform: uppercase;
  border-bottom: 17px solid #11181f;
  border-top: 17px solid #11181f;
  background-color: #11181f;
  padding-left: 12px;
  padding-right: 12px;
}

.header > a {
  margin-right: 16px;
}

footer {
  color: #eeeeee;
  font-size: 18px;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 300;
}

.footer > a {
  margin-right: 16px;
}

a.link-button {
  padding-left: 30px;
  padding-right: 30px;
  color: #eeeeee;
  background-color: #11181f;
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  line-height: 2;
}

a.link-button:hover {
  background: #324759;
}

a.link-button:active {
}

button, a.link-button {
}

a {
  color: #4ecca3;
}

a:hover {
  color: #eeeeee;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  letter-spacing: 0.03em;
}

code {
  color: #4ecca3;
}

pre {
  background-color: #161f27;
  color: #4ecca3;
  word-wrap: break-word;
  padding: 4px;
  overflow: scroll;
}

.text-muted {
  color: rgb(175, 175, 175);
}

tbody tr:nth-child(2n) {
  background-color: #232931;
}